
body {
  font-family: "Open Sans", Helvetica, sans-serif;
  padding-top: 3.5rem;
}

main {
  min-height: 600px;
}

p {
  color:rgb(32, 33, 36);
}

.active .nav-link {
  /*border-bottom: 5px solid #B1325D;*/
  color: #B1325D !important;
}

.jumbotron {
  background-color: rgb(245, 245, 245);
}

.kva-custom-toggler.navbar-toggler {
    border-color: #fff;
}
.kva-custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(177,50,93,0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-link {
  color: #333 !important;
}

.btn-primary {
  background-color: #B1325D;
  border-color: #B1325D;
}

.kva-logo {
  position: relative;
  color: #B1325D;
  font-size: 1.3rem;
  top: 2px;
  -webkit-font-smoothing: antialiased;
}

.kva-bg {
  background-color: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 7px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 7px 0px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 7px 0px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.kva-intro {
  font-size: 1.2rem;
  line-height: 1.9rem;
}

.kva-ann {
  color: chocolate;
  background-color: lightgoldenrodyellow;
  border-color: chocolate;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  padding: 10px;
  margin: 30px 0;
  text-align: center;
  font-size: 1.3rem;
}

.kva-header {
  color: #B1325D;
  font-size: 2.0rem;
  margin-bottom: 1.3rem;
  -webkit-font-smoothing: antialiased;
}

.kva-demo-header {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.kva-demo {
  background: #002b36;
  word-wrap: break-word;
  font-size: 0.9rem;
  overflow: auto;
  border-radius: 6px;
  color: #FFF;
  margin: 10px 0;
  padding: 10px;
}

.kva-title {
  color: #B1325D;
  font-size: 2.0rem;
  margin-bottom: 1.5rem;
}

.kva-faq h1 {
  color: #B1325D;
  font-size: 2.0rem;
  margin-bottom: 1.5rem;
}

.kva-documentation h1 {
  color: #B1325D;
  font-size: 2.0rem;
  margin-bottom: 1.5rem;
}

.kva-documentation h2 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.kva-documentation h3 {
  font-size: 1.1rem;
  font-weight: 700;
  margin-top: 1.8rem;
  margin-bottom: 1.0rem;
}

.kva-documentation table {
  border-collapse: collapse;
  margin-top: 30px;
  margin-bottom: 30px;
}

.kva-documentation table, th, td {
  border: 1px solid #ddd;
}

.kva-documentation th, td {
  padding: 10px;
}

.kva-documentation pre {
  background-color: #ddd;
  padding: 12px 7px 12px 7px;
  border-radius: 4px;
}

.kva-download {
  text-align: center;
  background-color: rgb(245, 245, 245);
  padding: 10px 5px 20px 5px;
  border-radius: 2px;
  min-width: 230px;
  margin: 15px;
}

.kva-download a {
  color: #710328;
  text-decoration: none; /* no underline */
}

.kva-download-icon {
  position: relative;
  top: 8px;
  margin-right: 10px;
  font-size: 2.4rem !important;
}

.kva-tutorial-title {
  font-size: 1.3rem;
  margin-top: 0.5rem;
  margin-bottom: 0.1rem;
}

.kva-tutorial-title a {
  text-decoration: none; /* no underline */
}

.kva-footer {
  margin: 30px 0 0 0;
  padding: 30px 0 0 0;
  background-color: #333;
  min-height: 300px;
  max-width: none;
}

.kva-footer-title {
  color:#fff;
  font-weight: 700;
  font-size: 1.4rem;
}

.kva-footer-link {
  display: block;
  margin-bottom: 7px;    
  color:#aaa;
  text-decoration: none;
}

.kva-footer-link:hover 
{
  color:#aaa;
  text-decoration:none; 
  cursor:pointer;  
}

.kva-license {  
  color:#aaa;
  font-size: 0.9rem;
}
