
body {
  font-family: "Open Sans", Helvetica, sans-serif;
  padding-top: 3.5rem;
  color: rgb(39, 63, 91);
}

main {
  min-height: 600px;
}

a {
  color: #B1325D;
  text-decoration: none !important;
}

a:hover {
  color: #CB4C76;
}

p {
  color:rgba(0, 0, 0, 0.80);
  font-size: 1.1rem;
  line-height: 32px;
}

ul li {
  color:rgb(90, 102, 113);
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.jumbotron {
  position: relative;
  background-image: url('../images/keva_background_sm.jpg');
  border-radius: 0px;
  margin-bottom: 0;
  text-align: center;
}

.kva-container {
  position: relative;
  z-index: 10;
}

.layer {
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

@media (min-width: 576px) {
  .jumbotron {
    padding: 6rem 2rem;
  }
}

.active .nav-link {
  color: #B1325D !important;
}

.kva-custom-toggler.navbar-toggler {
    border-color: #fff;
}
.kva-custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(177,50,93,0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-item {
  margin-bottom: 0;
}

.nav-link {
  color: rgb(90, 102, 113) !important;
  margin-bottom: 0;
  font-size: 18px;
  font-family: "Dosis", sans-serif;
  font-weight: 600;
}

.btn-primary {
  background-color: #B1325D;
  border-color: #B1325D;
}

.btn-primary:hover {
  color: #fff;
  background-color: #CB4C76;
  border-color: #CB4C76;
}

.btn-outline-primary {
  border-color: #fff;
  color: #fff;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #CB4C76;
  border-color: #CB4C76;
}

.kva-top-btn {
  margin-top: 5px;
  margin-right: 5px;
  font-family: "Dosis", sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 100em;
  border-width: 2px;
}

.kva-logo {
  font-family: "Exo";
  color: #B1325D;
  font-size: 1.3rem;
  font-style: italic;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  position: relative;
  top: 3px;
}

.kva-bg {
  background-color: #fff;
  -moz-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  padding-top: 7px;
  padding-bottom: 7px;
}

.kva-intro {
  color: #fff;
  font-size: 1.2rem;
  line-height: 1.9rem;
  margin-bottom: 5.0rem;
}

.kva-ann {
  color: darkgreen;
  background-color: rgb(243, 246, 251);
  padding: 5px;
  text-align: center;
  font-size: 1.0rem;
  font-weight: 700;
}

.kva-header {
  font-size: 2.8rem;
  font-family: "Dosis", sans-serif;
  font-weight: 600;
  color: #fff;
  margin-bottom: 1.3rem;
  -webkit-font-smoothing: antialiased;
}

@media (min-width: 576px) {
  .kva-header {
    font-size: 3.2rem;
  }
}

.kva-em {
  color: #FFAD00;
  font-style: italic;
}

.kva-subheader {
  color: #B1325D;
  font-size: 1.6rem;
  margin-top: 2.0rem;
  margin-bottom: 0.8rem;
  -webkit-font-smoothing: antialiased;
}

.kva-demo-header {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.kva-demo {
  background: #002b36;
  word-wrap: break-word;
  font-size: 0.9rem;
  overflow: auto;
  border-radius: 6px;
  color: #FFF;
  margin: 10px 0;
  padding: 10px;
}

.kva-title {
  font-family: "Dosis", sans-serif;
  font-size: 2.2rem;
  margin-bottom: 1.5rem;
}

.kva-sub-title {
  font-family: "Dosis", sans-serif;
  font-size: 1.7rem;
  margin-bottom: 1.5rem;
}

.kva-faq h1 {
  font-family: "Dosis", sans-serif;
  font-size: 2.1rem;
  margin-bottom: 1.5rem;
}

.kva-documentation h1 {
  font-family: "Dosis", sans-serif;
  font-size: 2.1rem;
  margin-bottom: 1.5rem;
}

.kva-documentation h2 {
  font-size: 1.5rem;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
}

.kva-documentation h3 {
  font-size: 1.1rem;
  font-weight: 700;
  margin-top: 1.8rem;
  margin-bottom: 1.0rem;
}

.kva-documentation table {
  border-collapse: collapse;
  margin-top: 30px;
  margin-bottom: 30px;
}

.kva-documentation table, th, td {
  border: 1px solid #ddd;
}

.kva-documentation th, td {
  padding: 10px;
}

.kva-documentation pre {
  background-color: #ddd;
  padding: 12px 7px 12px 7px;
  border-radius: 4px;
}

.kva-download {
  text-align: center;
  background-color: #fff;
  padding: 15px 5px 30px 5px;
  border-radius: 4px;
  min-width: 250px;
  margin: 15px;
}

.kva-download-shadow {
  -moz-box-shadow: 0 0 50px 0 rgba(22, 104, 183, 0.15);
  -webkit-box-shadow: 0 0 50px 0 rgba(22, 104, 183, 0.15);
  box-shadow: 0 0 50px 0 rgba(22, 104, 183, 0.15);
}

.kva-download-android {
  text-align: center;
  background-color: transparent;
  min-width: 280px;
  margin: 15px;
  padding: 0;
}

@media (min-width: 576px) {
  .kva-download {
    min-width: 300px;
  }
}

.kva-download a {
  text-decoration: none;
}

.kva-download-icon {
  position: relative;
  top: 8px;
  margin-right: 10px;
  font-size: 2.4rem !important;
}

.kva-tutorial-title {
  font-size: 1.3rem;
  margin-top: 0.5rem;
  margin-bottom: 0.1rem;
}

.kva-tutorial-title a {
  text-decoration: none;
  font-size: 1.2rem;
}

.kva-footer {
  margin: 0 0 0 0;
  padding: 30px 0 0 0;
  background-color: #333;
  min-height: 280px;
  max-width: none;
}

.kva-footer-title {
  color:#fff;
  font-family: "Dosis", sans-serif;
  font-weight: 600;
  font-size: 1.9rem;
}

.kva-footer-link {
  display: block;
  margin-bottom: 7px;
  color:#aaa;
  text-decoration: none;
}

.kva-footer-link:hover
{
  color:#aaa;
  text-decoration:none;
  cursor:pointer;
}

.kva-license {
  color:#aaa;
  font-size: 0.9rem;
  margin-bottom: 0px;
}

.kva-license-attr {
  color:#aaa;
  font-size: 0.8rem;
  margin-bottom: 0px;
}

.kva-pr-p {
  font-size: 0.8rem;
}

.kva-pr-a {
  font-size: 0.8rem;
  color:#aaa;
  text-decoration:none;
}

.kva-pr-a:hover
{
  color:#aaa;
  text-decoration:none;
  cursor:pointer;
}

.kva-section-summary {
  font-family: "Dosis", sans-serif;
  line-height: 1.40rem;
  font-weight: 600;
  font-size: 1.9rem;
  margin: 2.0rem 0 2.5rem 0;
}

.kva-section-summary-white {
  color: #fff;
}

.kva-benefit {
  -moz-box-shadow: 0 0 50px 0 rgba(22, 104, 183, 0.15);
  -webkit-box-shadow: 0 0 50px 0 rgba(22, 104, 183, 0.15);
  box-shadow: 0 0 50px 0 rgba(22, 104, 183, 0.15);
  border-radius: 4px;
  padding: 30px 0 30px 0;
  min-height: 380px;
  margin-top: 10px;
}

.kva-benefit-title {
  font-family: "Dosis", sans-serif;
  font-size: 1.6rem;
  margin: 20px 30px 20px 30px;
}

.kva-benefit-text {
  font-size: 1.0rem;
  margin: 0 30px 0 30px;
}

.kva-title-img {
  width: 110px;
  height: 110px;
  border-radius: 200px;
}

#benefits {
  background-color: #fff;
  padding-bottom: 30px;
  margin: 10px 0 20px;
}

#contribute {
  background-color: #fff;
  padding-bottom: 30px;
  margin: 10px 0 20px;
}

#download {
  background-color: rgb(243, 246, 251);
  padding-bottom: 40px;
}

#protocol {
  background-color: #0080DD;
  padding-bottom: 40px;
}

#developer {
  background-color: rgb(243, 246, 251);
  padding-top: 20px;
  margin-top: 20px;
}

#everyone {
  background-color: #fff;
  margin-top: 20px;
}

.kva-protocol-name {
  font-family: "Dosis", sans-serif;
  font-weight: 600;
  text-align: right;
}

.kva-protocol-name p {
  font-size: 1.3rem;
  color: #fff;
}

.kva-protocol {
  text-align: left;
}

.kva-protocol p {
  text-align: left;
  color: #fff;
}

.kva-people {
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 0 20px 0 20px;
}

@media (min-width: 992px) {
  .kva-people {
    padding: 0 40px 0 40px;
  }
}

.kva-people-title {
  font-family: "Dosis", sans-serif;
  font-weight: 600;
  font-size: 1.3rem;
  color: rgb(39, 63, 91);
  text-align: left;
  margin-bottom: 7px;
}

.kva-people-text {
  text-align: left;
  font-size: 1.0rem;
  margin-bottom: 16px;
}

.kva-note {
  margin-top: 0;
  font-size: 1.0rem;
  position: relative;
  top: -10px;
}

.kva-blog-title {
  margin-bottom: 0 !important;
}

.kva-blog-list-title {
  margin-bottom: 0 !important;
}

.kva-blog-list-date {
  font-size: 0.9rem;
  color:rgba(0, 0, 0, 0.5);
}
